<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        Flask
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
<div class='container'>
    <br>
    <h1 class = 'text-center'><a href='#'>visitors</a></h1>
    <br>
    <br>
</div>
<div class = "container">
    <div class="row mt-5">
        <h1></h1>
    </div>

    <div class="col-12">
        <br><br>
        <form method="POST" action="/">
            <div class="form-group"> <!--그룹으로 묶음-->
                <label for="name">이름</label>
                <input type="text" class="form-control" id="name" placeholder="Name" name="name"/>
            </div>
            <div class="form-group">
                <label for="mail">메일</label>
                <input type="email" class="form-control" id="mail" placeholder="E-mail" name="mail"/>
            </div>
            <div class="form-group">
                <label for="text">지역</label>
                <input type="text" class="form-control" id="region" placeholder="Region" name="region"/>
            </div>
            <div class="form-group">
                <label for="temperature">온도</label>
                <input type="text" class="form-control" id="temperature" placeholder="Temperature" name="temperature"/>
            </div>
            <button type="submit" class="btn btn-primary float-center">입력</button>
        </form>
    </div>
    </div>
<table class="table table-hover table-striped text-center" style='border: 1px solid;'>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>mail</th>
            <th>region</th>
            <th>temperature</th>
        </tr>
    </thead>
    <tbody>
        {% for i in data_list %}
        <tr>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
            <td>{{ i[3] }}</td>
            <td>{{ i[4] }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
</html>

